:root {
    --primary-color: hsl(0,100%,10%);
    --background-color: #fafafa;
    --button-color:hsl(0,100%,25%);
    --button-hover-color:hsl(0,100%,20%);
}
body {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    background-color: var(--background-color);
}
.header {
    background-color: var(--primary-color);
    color: #fff;
}
#convertbtn{
    margin: 1rem;
    padding: 0.2rem 1rem;
    background-color: hsl(0,100%,25%);
    color: #fff;
    font-size: 1.4rem;
    border: none;
    outline: none;
    border-radius: .2rem;
    /* transition: all 0.2s; */
}
#convertbtn:hover {
    background-color: var(--button-hover-color);
}